{% extends "layout.html.jinja" %}

{% block middle %}
<h1>> /about/</h1>
<p>Nazywam się Maciej Kućmierz, studiuję Informatykę Stosowaną na Uniwersytecie Ekonomicznym w Krakowie, a to jest moja strona internetowa zrobiona na potrzeby projektu</p>
<table id="info">
    <tr>
        <td><b>Pytania</b></td>
        <td><b>Odpowiedzi</b></td>
    </tr>
    <tr>
        <td>Dlaczego akurat te studia</td>
        <td>Chcę dokształcić się zawodowo w dziedzinie informatyki jednocześnie zdobywając umiejętności ekonomiczne oraz ćwicząc języki</td>
    </tr>
    <tr>
        <td>Oczewiwanie dotyczące studiów</td>
        <td>Po ukończeniu licencjatu, rozpocząć studia magisterskie na kierunku systemów inteligentych</td>
    </tr>
    <tr>
        <td>Dotychczasowe osiągnięcia:</td>
        <td>Tytuł technika informatyki</td>
    </tr>
    <tr>
        <td>Plany zawodowe:</td>
        <td>Stanowisko programisty w dziedzinie sztucznej inteligencji</td>
    </tr>
    <tr>
        <td>Hobby</td>
        <td>Sprzęt grający, gra na wielu instrumentach</td>
    </tr>
</table>
{% endblock middle %}