{% extends "layout.html.jinja" %}
    <h1>> /index/ </h1>
{% block middle %}
    <h1>> /index/</h1>
    <h2>Opis projektu</h2>
    <ul>
        <li>Cel aplikacji</li>
            <p> Aplikacja służy do zbierania danych o produktach ze strony Ceneo.pl </p>
        <li>Opis działania aplikacji</li>
            <p> Aplikacja pobiera konktretny zestaw informacji posługując się podanym przez użytkownika ID produktu z jego adresu na platformie Ceneo, następnie zapisując ten zestaw w pliku json, który jest później możliwy do wyświetlenia</p>
        <li>Zastosowane biblioteki
        </br>
            <ul>
            </br>
                <li>Flask</li>
                <li>Jinja</li>
                <li>Json</li>
                <li>Requests</li>
                <li>Beautiful Soup</li>
            </li>
            </ul>
        </br>
        <li>Zastosowane podejścia
            <ul>
            </br>
            <li>Obiektowe</li>
        </ul>
        </li>
            
    </ul>  
{% endblock middle %}